<% @images = Image.find_images_for_gallery(id) %>

  <% @images.each do |image| %>
    <div style="float:left;">
      <%= image_tag image.photo.url(:small)%>
    </div>
  <% end %>
<div style="clear:both;"></div>
