<% if @menu %>
  <ul>
    <li>
      <p><%= link_to "Home", root_path %></p>
    </li>
    <% @menu.each do |menu| %>
      <li>
        <p><%= link_to(menu.title, article_path(menu))%></p>
      </li>
    <% end %>
    <li>
      <p><%= link_to("Newsletter", new_newsuser_path) %></p>
    </li>
    <li>
      <p><%= link_to("Kontakt", new_contact_path) %></p>
    </li>
  </ul>
<% else %>
<br />
<% end %>
