<%= tag_content @tags %>
<div id="first_article_title">
  <p><%= @article.title %></p>
</div>
  <%= render_gallery(@article.body) unless @article.body.nil?%><br /><br />
<div id="go_back">
  <%= link_to "Do głównej", root_path %>
</div>
<div id="article_spacer"></div>