zalogowany ? admin#index
  <% if current_user %>
    <%= link_to "Logout", logout_path %>
  <% else %>
    <%= link_to "Register", register_path %> |
    <%= link_to "Login", login_path %>
  <% end %>

  <div id="global_nav-container">
    sfs fsef sefsef sf esfsfse efsf sef
    serfsefefsef sef s sef sefse f sef sef s
    sef sef sef sefsef esfsefse
    <ul id="account-links">
      <%= link_to "login", login_path %>
      <a href="c">dipa</a>
      <a href="c">dipa</a>
      <a href="c">dipa</a>
      <a href="c">dipa</a>
      <a href="c">dipa</a>
    </ul>
  </div>
  
      <div id="topbar">
      <div id="topbar-container">
        <div class="tabs">
           <div class="selected"><a href="/users" class="current">Status</a></div>
          <div><a href="/folders" class="current">Folders</a></div>   
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear">
      </div>
    </div>
    
    
        <div id="main-wrapper">
      <div id="wrapper">
        <div id="inner-wrapper" class="feathered">
          
          <!--        <div id="status" class="feathered">
            dupa dupa dupa dupa<br /> dupa dupa
          </div>
        -->
          
          
          
          ccc c c c 
          <div id="admin_users_index">
            di di di di di di 
            <table>
              <tr>
                <td>dii </td><td>ggg</td>
              </tr>
            </table>
          </div>
          
          
          
          c c c cc  c 
          <div class="clear"></div>	
        </div>
      </div>

      dupa dupa   dupa dupa   dupa dupa   dupa dupa   dupa dupa 
  <div class="clear"></div>
    </div>

    <footer>
      <p>
      <%# link_to new_ticket_path, :class => "image-link" do %>
          <%# image_tag "icon-faq.gif" %>
          <span>H</span>
        <%# end %>
        | <a target="_blank" href="#">dd</a>
    </footer>