html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }
body {  }
table { border-collapse: separate; border-spacing: 0; }
caption, td { text-align: center;}

table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; }

body { background: #b7e0e4; font-family: "Georgia" , Arial, Helvetica, sans-serif; }

/* start */
#content_header{
display: table; width:auto; margin: 0px auto;
}
#left_right_span{
  margin:0px auto;
  height:329px;
  background-image:url('/images/koziolkowo/zp.png');
  background-repeat:repeat-x;
}
#ban{
  margin:0px auto; 
  height:329px; 
  width: 893px;
  background-image:url('/images/koziolkowo/ban.png');
  background-repeat:no-repeat;
}

#content_box{
  width: auto;
  margin: -15px auto 3px auto;
  background-image:url('/images/koziolkowo/p_element.png');
  background-repeat:repeat;
}

/*menu*/
#menu{
  width: 294px;
  display:block;
  float:left;
}
#menu ul, ul li{
  display: block;
  text-align: right;
  padding-right: 50px;
  list-style:none;
  background-image:url('/images/koziolkowo/tlo_pod_menu_1.png');
  background-repeat:repeat-y;
}
#menu ul a:link, ul a:visited{
  height:24px;
  width: 274px;
  display:block;
	text-decoration: none;
}
#menu ul a:hover {
  display: block;
  text-align: right;
  padding-right: 50px;
  list-style:none;
  background-image:url('/images/koziolkowo/tlo_pod_menu_3.png');
  background-repeat:repeat-y;
	text-decoration: none;
}
#dol_tla {
  float:left;
  display:block;
  width: 295px;
  height: 14px;
  background-image:url('/images/koziolkowo/dol_tla.png');
  background-repeat:none;
}
  
/* end menu */
#content{
  width: 608px;
  display:inline;
  float:left;
}
#content_data{
  padding: 25px 0px 0px 25px;
  background-image:url('/images/koziolkowo/content_tlo.png');
  background-repeat:repeat-y;

}
#content_inside{
  width: 905px;
  margin: 0px auto;
}
#content_footer{
  float:right;
  margin: 0px -2px 0px 0px;
  width: 610px;
  height: 80px;
  background-image:url('/images/koziolkowo/content_footer.png');
  background-repeat:none;
}



#content_marker{
  margin: 20px 30px 0px 0px;
  display:inline;
  float:right;
  width: 217px;
  height: 49px;
  background-image:url('../images/koziolkowo/content_picture_footer.png');
  background-repeat:none;
}

#footer {
width: auto;
height: 61px;
background-image:url('/images/koziolkowo/footer_background.png');
background-repeat:repeat-x;
}
#footer_content{
margin: 0px auto;
padding: 20px 0px 0px 0px;
width: 894px;
height: 41px;
}
#loga{
margin: -12px 0px 0px 0px;
display:inline;
float:right;
width: 521px;
height: 43px;
background-image:url('/images/koziolkowo/loga.png');
background-repeat:none;

}
/* articles*/
#first_article_title{
width: 547px;
height: 37px;
background-image:url('/images/koziolkowo/title_content_marker.png');
background-repeat:none;
}
#first_article_title p{
margin: 0px 0px 0px 40px;
color: #db1500;
line-height: 40px;
font-size: x-large;
}
#article_title p{
color: #008ac1;
line-height: 40px;
font-size: large;
}
#article_spacer{
width: 533px;
height: 1px;
background-image:url('/images/koziolkowo/article_spacer.png');
background-repeat:none;
}
#read_more a{
  margin: 0px 60px 0px 0px;
  display:inline;
  float:right;
  color: #019b8c;
  text-decoration:none;
}
#read_more a:hover{
  color: #2ca2ec;
  text-decoration:none;
}
#go_back a{
  float:left;
  color: #019b8c;
  text-decoration:none;
}
#go_back a:hover{
  color: #2ca2ec;
  text-decoration:none;
}
/* end articles */

/* end */






/* admin login */
#admin_login{margin: 20px auto; 
width: 400px; 
border: 1px solid black; 
padding: 10px;border-radius: 20px;-moz-border-radius: 5px;
background-color:#BFD6FF;}
/* end admin login */































