<p>
<i>Dodaj swój adres do newsletter'a</i>
<%= form_for @newsuser do |f| %>
  <%= f.text_field :email %>
  <%= f.submit "Dodaj do newslettera"%>
<% end %>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
</p>