<% @secret = Newsuser.find_by_email(@email_to).secret %>
<% @stopper = "<a href=#{@app_config["config"]["host"]}/newsusers/#{@email_to}?secret=#{@secret}>Usuń mnie z newslettera!</a>" %>


<%= @mail_body.html_safe %>
<hr />
Aby usunac adres z newslettera kliknij:<br />
<%= @stopper.html_safe %>
