<%= @mail_body.html_safe %>
<hr />
Aby usunąć adres z newslettera kliknij:
<%= "<a href='#{@app_config["config"]["host"]}/newsusers/#{@email}?secret=#{@secret}'>Usuń mnie z newslettera!</a>".html_safe %>
